.section-content {
    .transactions-title {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #c5c5c5;
    }

    .transactions-subtitle {
        font-weight: normal;
        font-size: 168x;
        line-height: 30px;
        color: #0c0d36;
        margin-bottom: 20px;
    }
}
